@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: normal;
    src: url(/fonts/Segoe_UI.ttf);
    font-family: Segoe;
  }
  @font-face {
    font-weight: bold;
    src: url(/fonts/Segoe_UI_Bold.ttf);
    font-family: Segoe;
  }
  @font-face {
    font-style: italic;
    font-weight: bold;
    src: url(/fonts/Segoe_UI_Bold_Italic.ttf);
    font-family: Segoe;
  }
  @font-face {
    font-style: italic;
    src: url(/fonts/Segoe_UI_Italic.ttf);
    font-family: Segoe;
  }

  strong {
    @apply font-bold dark:text-white;
  }

  code {
    @apply m-[0.2em] rounded bg-[#fff1] px-[0.1em] py-[0.4em] text-sm italic;
  }

  blockquote {
    @apply mx-[1em] my-0.5 border-l-4 border-[#333] pl-[0.8em] text-[0.95em] italic leading-relaxed dark:border-[#ddd];
  }
}
